.paginate{
    display: flex;
}
.pageLists{
    list-style: none;
    margin-left: 20px;
    background-color: crimson;
    border-radius: 2px;
    width: 20px;

}
.pageLink{
    text-decoration: none;
    color: white;
}

@media screen  and (max-width: 480px) {
    .page{
        margin-right: 60%;
    }
    .pageLists{
        margin-right: 20px;
    }
}