.stockContainer{
    width: 100%;
    display: flex;
    margin-left: 10px;

}

.symbol{
    font-size: 10px;
    font-weight: 600;
}
.stockchange{
    text-align: left;
    margin-left: 20px;
    width: 80%;
}
.headText{
    font-size: 11px;
}
.headTextday{
    margin-left: 50px;
    font-size: 11px;
}
.elements{
    list-style: none;
    display: flex;
    padding: 0;
    width: 200px;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    margin-bottom: 15px;
}

.textBlock{
    margin-right: 350px;
    margin-top: 15px;
    list-style: none;
    font-size: 11px;
}
.indicator{
    margin-left: 10px;
}

@media screen  and (max-width: 480px) {
    .elements{
        margin-left: 10px;
       
    }
   
    .indicestexthigh{
        margin-right: 0;
    }
    .indiceswrapper{
        margin-left: 50px;
    }
    .textBlock{
        margin-left: 50px;
    }
   .indicesText{
       margin-left: 100px;
   }
}