.newsContainer{
    margin-top: 90px;
    display: flex;
    overflow: hidden;
}
.weatherContainer{
    margin-top: 10px;
    width: 450px;
    height: 200px;
    margin-left: 20px;
}
.markethead{
    margin-left: -200px;
}
.stockwrapper{
    margin-left: 20px;
}
.markethead{
    color: tomato;
    text-align: center;
    margin-right: 100px;
}
.stockItems{
    width: 100%;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 10px;
}
.stockPaginate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.newswrapper{
    margin-left: -100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.scrollContainer{
    overflow: hidden;
}
.newshead{
    font-size: 25px;
    color: green;
    font-weight: 800;
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
}
@keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
.headings{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    font-weight: 700;
    font-size: 30px;
}
.headText{
    margin-left: 10px;
    background-color: green;
    color: white;
    width: 50px;
    height: 20px;
    align-self: center;
    border-radius: 5px;
}
.inputtext{
height: 30px;
}

@media screen  and (max-width: 480px) {
    .newsContainer{
        display: flex;
        flex-direction: column;
    }
    .markethead{
        margin-right: 50%;
    }
    .headings{
        width: 60%;
        margin-right: 70%;

    }
    .newshead{
        margin-right: 30%;
    }
    .headText{
        margin-right: 10px;
    }
    .stockItems{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 42%;
    }
    .stockPaginate{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}